<% obj.each do |pic| %>
  <%= link_to pic.title, picture_path(pic), remote: true %>
    <%= image_tag(pic.image.url, class:"resize") %>
    <h2><%= pic.title %> <i class="fa fa-lightbulb-o"></i></h2>
<% end %>