@import 'bootstrap/dist/css/bootstrap';


.navbar {
background-color: gray !important;
}
.navbar-brand {
font-size: 3rem;
}
h1 {
color: red;
}
.resize{
  height:400px;
  width:400px;
}
.resize2{
  height:100px;
  width:100px;
}

/*
.gravatar {
  float:left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
*/
.top{
  margin: 10px; 
}
.set{
  vertical-align: middle;
}


.wrapper {
  overflow: hidden;
}
.main {
  float: right;
  width: 50%;
  margin-right: 200px;
  padding-right: 200px;
  box-sizing: border-box;
}
.side {
  float: left;
  width: 300px;
  
  margin: 10px;
}
.fixed {
  position: fixed;
}
.color1{
  background-color: gray;
}
.color2{
  background-color: blue;
}