@import 'bootstrap/dist/css/bootstrap';


.navbar {
background-color: gray !important;
}
.navbar-brand {
font-size: 3rem;
}
h1 {
color: red;
}
.resize{
  height:400px;
  width:400px;
}

/*
.gravatar {
  float:left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
*/
.top{
  margin: 10px; 
}
.set{
  
}